<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SubmitRequest</display-name>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.revature.brian.servlets.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/submitrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManLogin</display-name>
    <servlet-name>ManLogin</servlet-name>
    <servlet-class>com.revature.brian.servlets.ManLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManLogin</servlet-name>
    <url-pattern>/mlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyInfo</display-name>
    <servlet-name>ViewMyInfo</servlet-name>
    <servlet-class>com.revature.brian.servlets.ViewMyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyInfo</servlet-name>
    <url-pattern>/viewme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.revature.brian.servlets.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/updateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRequests</display-name>
    <servlet-name>MyRequests</servlet-name>
    <servlet-class>com.revature.brian.servlets.MyRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRequests</servlet-name>
    <url-pattern>/viewmine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewManInfo</display-name>
    <servlet-name>ViewManInfo</servlet-name>
    <servlet-class>com.revature.brian.servlets.ViewManInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewManInfo</servlet-name>
    <url-pattern>/viewman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMan</display-name>
    <servlet-name>UpdateMan</servlet-name>
    <servlet-class>com.revature.brian.servlets.UpdateMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMan</servlet-name>
    <url-pattern>/updateMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequests</display-name>
    <servlet-name>ViewRequests</servlet-name>
    <servlet-class>com.revature.brian.servlets.ViewRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequests</servlet-name>
    <url-pattern>/viewreqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.brian.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/viewemps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveDeny</display-name>
    <servlet-name>ApproveDeny</servlet-name>
    <servlet-class>com.revature.brian.servlets.ApproveDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveDeny</servlet-name>
    <url-pattern>/approvedeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.revature.brian.servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/elog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecEmpReqs</display-name>
    <servlet-name>SpecEmpReqs</servlet-name>
    <servlet-class>com.revature.brian.servlets.SpecEmpReqs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecEmpReqs</servlet-name>
    <url-pattern>/viewspec</url-pattern>
  </servlet-mapping>
</web-app>